
@{
	ViewBag.Title = "Add Department";
}

<form  method="post" class="mt-5">
	<fieldset>
		<h1><legend>Add Department</legend></h1>
		<div class="form-group">
			<label for="departmentName" class="form-label">Name</label>
			<input type="text" class="form-control" name="Name" id="departmentName" placeholder="Enter Department Name">
		</div>
		<input type="submit" class="btn btn-success mt-3" value="Create" />
	</fieldset>
</form>
