@{
	ViewBag.Title = "StudentList";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
	<div class="text-center">
		<a class="btn btn-outline-primary mb-3" style="width: 50vw;" href="/Home/AddStudent">Add Student</a>
		<a class="btn btn-outline-primary mb-3" style="width: 50vw;" href="/Home/StudentList">Student List</a>
		<a class="btn btn-outline-primary mb-3" style="width: 50vw;" href="/Home/Create">Add Department</a>
		<a class="btn btn-outline-primary" style="width: 50vw;" href="/Home/DepartmentList">Department List</a>
	</div>
</div>
